:root {
    --primary-color: #f0da1be7;
    --secondary-color: #030e12;
    --tertiary-color: #59b4ad;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* apply style to header */
header {
    padding: 10px 25px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
header h1 {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: bold;
}

header a {
    color: var(--secondary-color);
}

header a:link {
    color: var(--secondary-color);
}

header a:visited {
    color: var(--secondary-color);
}

header a:hover {
    color: blue;
}

header a:active {
    color: blue;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    position: relative; left: -75px;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 18px;
}
/* end style to header */

/* apply style to About Me section */
.about {
    width: 100%;
    padding: 50px auto;
    display: inline-flex;
    margin: 20px;
    position: relative; bottom: -100px; right: -20px;
    
}
#aboutme {
    color: var(--secondary-color);
}

.about h2 {
    font-size: 42px;
    margin: 20px;
}

#about-me-image {
    height: 200px;
    width: 200px;
    margin: 50px;
}

.about p{
    text-align: center;
}

/* apply style to About Me section end */

/* apply style to Work section */
#work {
    color: var(--secondary-color);
}

.projects {
    padding: 0;
    margin: 200px;
}

div.portfolio h2 {
    font-size: 42px;
    margin: 100px;
    position: relative; right: 220px; top: 150px;

}

div.portfolio img {
    width: 100%;
    height: auto;
    border: 3px solid var(--tertiary-color);
    position: relative; left: 120px;
}

div.info {
    width: 25%;
    font-size: 28px;
    padding: 25px;
    text-align: center;
    border: 5px solid var(--tertiary-color);
    position: relative; bottom: 100px; left: 125px;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}

div.app img{
    width: 500px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: 115px; left: 120px;
}

div.info-2 {
    width: 25%;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    border: 5px solid var(--tertiary-color);
    position: relative; bottom: 185px; left: 120px;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}

div.apply img {
    width: 500px;
    height: 200px;
    border:3px solid var(--tertiary-color);
    position: relative; top: -405px; right:-675px;
}

div.info-3 {
    width: 25%;
    font-size: 28px;
    padding: 5px;
    text-align: center;
    border: 5px solid var(--tertiary-color);
    position: relative; bottom: 465px; left: 675px;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}

div.applicate img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: 450px; left: 120px;
}

div.info-4 {
    width: 25%;
    font-size: 28px;
    padding: 5px;
    text-align: center;
    border: 5px solid var(--tertiary-color);
    position: relative; bottom: 510px; left: 120px;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}

div.application img{
    width: 500px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; top: -730px; right:-675px;
}

div.info-5 {
    width: 25%;
    font-size: 28px;
    padding: 5px;
    text-align: center;
    border: 5px solid var(--tertiary-color);
    position: relative; bottom: 790px; left: 675px;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}
/* end style to Work section */

/* apply style to Contact section */

#contact-me {
    color: var(--secondary-color)
}
.contact {
    position: relative; bottom: 800px;

}

.contact h2 {
    font-size: 36px;
    position: relative; top: 30px;
    
}

div.contact-point {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    position: relative; left: 140px;
}

div.contact-point a:link {
    color: black;
}

div.contact-point a:visited {
    color: black;
}

div.contact-point a:hover {
    text-decoration: underline;
    color: blue;
}

div.contact-point a:active {
    color: black;
}
/* end style to Contact Me section */

