:root {
    --primary-color: #f0da1be7;
    --secondary-color: #030e12;
    --tertiary-color: #59b4ad;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* apply style to header */
header {
    padding: 10px 25px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
header h1 {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: bold;
    
}

header a {
    color: var(--secondary-color);
}

header a:link {
    color: var(--secondary-color);
}

header a:visited {
    color: var(--secondary-color);
}

header a:hover {
    color: blue;
}

header a:active {
    color: blue;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    position: relative; left: -75px;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 18px;
    display: flex;
}
/* end style to header */

/* apply style to About Me section */
.about {
    width: 100%;
    padding: 50px auto;
    display: inline-flex;
    margin: 20px;
    position: relative; bottom: -100px; right: -20px;
    
}
#aboutme {
    color: var(--secondary-color);
}

.about h2 {
    font-size: 42px;
    margin: 20px;
}

#about-me-image {
    height: 200px;
    width: 200px;
    margin: 50px;
}

.about p{
    text-align: center;
}

/* apply style to About Me section end */

/* apply style to Work section */
#work {
    color: var(--secondary-color);
}

.projects {
    padding: 0;
    margin: 200px;
}

div.portfolio h2 {
    font-size: 42px;
    margin: 100px;
    position: relative; right: 220px; top: 150px;
    flex: 1 30%;

}

div.portfolio img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 3px solid var(--tertiary-color);
    position: relative; left: 120px;
}

div.portfolio img:hover {
    background-color: var(--tertiary-color);
}

div.app img{
    width: 400px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: -5px; left: 75px;
}

div.apply img {
    width: 400px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: 200px; left: 600px;
}

div.applicate img {
    width: 400px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: 175px; left: 75px;
}

div.application img {
    width: 400px;
    height: 200px;
    border: 3px solid var(--tertiary-color);
    position: relative; bottom: 380px; left: 600px;
}

/* end style to Work section */

/* apply style to Contact section */

#contact-me {
    color: var(--secondary-color)
}
.contact {
    position: relative; bottom: 400px;

}

.contact h2 {
    font-size: 36px;
    position: relative; top: 30px;
    
}

div.contact-point {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    position: relative; left: 140px;
}

div.contact-point a:link {
    color: black;
}

div.contact-point a:visited {
    color: black;
}

div.contact-point a:hover {
    text-decoration: underline;
    color: blue;
}

div.contact-point a:active {
    color: black;
}
/* end style to Contact Me section */

/* Start of media queries */
/* Media Queries for Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
    header {
        position: relative;
        padding: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .about p {
        width: 50%;
        padding: 30x;
    }
}

@media screen and (max-width: 768px) {

    header a {
        text-align: center
    }
    header nav ul li a {
        flex-direction: column;
        max-width: 100%;
    }

    .about {
        padding: 6px;
    }

    .about h2 {
        flex: 30%;
        padding: 20px;
    }
    
    .about p {
        text-align: right;
    }

    div.portfolio h2 {
        flex: 1 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    div.portfolio img {
        flex-wrap: wrap;
        display: flex;
        flex: 10 100%;
        
    }

    div.app img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 0 100%;
    }

    div.apply img {
        flex-wrap: wrap;
        flex: 0 100%;
    }
}

@media screen and (max-width: 575px) {

    header {
        justify-content: center;
        align-items: center;
        width: 100;
    }
    header nav ul li a {
        justify-content: space-around;
    }

    .about p {
        width: -20%;
    }
}